@charset "utf-8";

.page-footer {
  position: relative;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #fff;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, .03);

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer-menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 600;

  li {
    margin: 0 5px 0 0;
    padding: 0;
    
    &:last-child {
      margin-right: 0;
    }
  }

  a {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    text-decoration: none;
    color: $title-color;
    border-radius: 30px;

    &:hover {
      color: $secondary-color;
      background-color: #eeeeee;
    }
  }
}