@charset "utf-8";

$color-blue : #0e8ecc;
$color-white: #ffffff;
$color-white-darker: #f5f5f5;
$color-on-primary: #a2a3b7;

$primary-color: #1E1E2D;
$primary-color-alt: #2a3042;
$primary-accent-color: #1b1b28;
$secondary-color: #5D78FF;
$secondary-accent-color: #3d57dc;

$text-color: #333;
$title-color: #495057;
$description-color: #76838f;
$base-bg-color: #F2F3F8;

$sidemenu-title-color: #4c4e6f;